@import "tailwindcss";

@theme {
  /* Кастомная дизайн-система для AuraHQ уровня Enterprise */
  --color-brand-primary: #3b82f6;
  --color-brand-dark: #0f172a;
  --color-brand-success: #10b981;
  
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-slate-50);
  color: var(--color-brand-dark);
}
